.spurs_collapsible_section
  padding: 5px
  border: 1px solid #eee
  margin: 10px 0px
  .section_body
    display: none
    padding-top: 5px
  .section_header
    .section_toggle
      float: right
  &.open
    .section_header
      border-bottom: 1px solid #eee
      padding-bottom: 5px
    .section_body
      display: block

