<!DOCTYPE html>
<html>
<head>
  <title>Spurs</title>
  <%= stylesheet_link_tag    "spurs/application", :media => "all" %>
  <%= javascript_include_tag "spurs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
